doctype html
html
  head
    title  Ritik cricket club
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo 
              img(src="/static/l4.png")
              | HDA
            li #[a(href="/") Home] 
            li #[a(href="/")  About Us]
            li #[a(href="/contact") Contact]
            li #[a(href="/") Services]
            li #[a(href="/") More Info]
    block content
    footer#footer 
      | Copyright © 2022 RitikCricketClub.com | All rights reserved
   
      