doctype html
html
  head
    title Ritik cricket club
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo 
              img(src="/static/l4.png")
              | HDA
            li #[a(href="/") Home] 
            li #[a(href="/")  About Us]
            li #[a(href="/") Contact]
            li #[a(href="/") Services]
            li #[a(href="/") More Info]

    section#intro 
            div Welcome to Ritik's official cricket club
            div.small Without sports life is not worthy.
    section#mission
             h2 Our Mission
             div.card
              h3  Fitness for All
              div.card-box 
                div.card-img 
                  img(src="/static/b1.png")

                div.card-content 
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia et temporibus hic a delectus quidem saepe velit beatae nemo 

             div.card
              h3 Hidden Talent
              div.card-box 
                div.card-img 
                  img(src="/static/b1.png")

                div.card-content 
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia et temporibus hic a delectus quidem saepe velit beatae nemo 

             div.card
              h3 Best learning
              div.card-box 
                div.card-img 
                  img(src="/static/b1.png")

                div.card-content 
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia et temporibus hic a delectus quidem saepe velit beatae nemo 
                  

          
    section#sponsors
             h2 Our sponsors
             div#sponsorsec 
              img(src="/static/b1.png",alt="not able to load",class="spimage")
              img(src="/static/b1.png",alt="not able to load",class="spimage")
              img(src="/static/b1.png",alt="not able to load",class="spimage")
              img(src="/static/b1.png",alt="not able to load",class="spimage")


    footer#footer 
      | Copyright © 2022 RitikCricketClub.com | All rights reserved
    
    script
      include ../static/index.js